<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.business.mapper.EquipmentTypesMapper">
    
    <resultMap type="com.iteaj.business.domain.EquipmentTypes" id="EquipmentTypesResult">
        <result property="equipmentTypeId"    column="equipment_type_id"    />
        <result property="parentEquipmentTypeId"    column="parent_equipment_type_id"    />
        <result property="equipmentTypeName"    column="equipment_type_name"    />
        <result property="description"    column="description"    />
        <result property="manufacturer"    column="manufacturer"    />
        <result property="installationDate"    column="installation_date"    />
        <result property="maintenanceStatus"    column="maintenance_status"    />
        <result property="warrantyPeriod"    column="warranty_period"    />
        <result property="location"    column="location"    />
    </resultMap>

    <sql id="selectEquipmentTypesVo">
        select equipment_type_id, parent_equipment_type_id, equipment_type_name, description, manufacturer, installation_date, maintenance_status, warranty_period, location from equipment_types
    </sql>

    <select id="selectEquipmentTypesList" parameterType="com.iteaj.business.domain.EquipmentTypes" resultMap="EquipmentTypesResult">
        <include refid="selectEquipmentTypesVo"/>
        <where>  
            <if test="parentEquipmentTypeId != null "> and parent_equipment_type_id = #{parentEquipmentTypeId}</if>
            <if test="equipmentTypeName != null  and equipmentTypeName != ''"> and equipment_type_name like concat('%', #{equipmentTypeName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="manufacturer != null  and manufacturer != ''"> and manufacturer = #{manufacturer}</if>
            <if test="installationDate != null "> and installation_date = #{installationDate}</if>
            <if test="maintenanceStatus != null  and maintenanceStatus != ''"> and maintenance_status = #{maintenanceStatus}</if>
            <if test="warrantyPeriod != null "> and warranty_period = #{warrantyPeriod}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
        </where>
    </select>
    
    <select id="selectEquipmentTypesByEquipmentTypeId" parameterType="Long" resultMap="EquipmentTypesResult">
        <include refid="selectEquipmentTypesVo"/>
        where equipment_type_id = #{equipmentTypeId}
    </select>

    <insert id="insertEquipmentTypes" parameterType="com.iteaj.business.domain.EquipmentTypes" useGeneratedKeys="true" keyProperty="equipmentTypeId">
        insert into equipment_types
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentEquipmentTypeId != null">parent_equipment_type_id,</if>
            <if test="equipmentTypeName != null and equipmentTypeName != ''">equipment_type_name,</if>
            <if test="description != null">description,</if>
            <if test="manufacturer != null">manufacturer,</if>
            <if test="installationDate != null">installation_date,</if>
            <if test="maintenanceStatus != null">maintenance_status,</if>
            <if test="warrantyPeriod != null">warranty_period,</if>
            <if test="location != null">location,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentEquipmentTypeId != null">#{parentEquipmentTypeId},</if>
            <if test="equipmentTypeName != null and equipmentTypeName != ''">#{equipmentTypeName},</if>
            <if test="description != null">#{description},</if>
            <if test="manufacturer != null">#{manufacturer},</if>
            <if test="installationDate != null">#{installationDate},</if>
            <if test="maintenanceStatus != null">#{maintenanceStatus},</if>
            <if test="warrantyPeriod != null">#{warrantyPeriod},</if>
            <if test="location != null">#{location},</if>
         </trim>
    </insert>

    <update id="updateEquipmentTypes" parameterType="com.iteaj.business.domain.EquipmentTypes">
        update equipment_types
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentEquipmentTypeId != null">parent_equipment_type_id = #{parentEquipmentTypeId},</if>
            <if test="equipmentTypeName != null and equipmentTypeName != ''">equipment_type_name = #{equipmentTypeName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
            <if test="installationDate != null">installation_date = #{installationDate},</if>
            <if test="maintenanceStatus != null">maintenance_status = #{maintenanceStatus},</if>
            <if test="warrantyPeriod != null">warranty_period = #{warrantyPeriod},</if>
            <if test="location != null">location = #{location},</if>
        </trim>
        where equipment_type_id = #{equipmentTypeId}
    </update>

    <delete id="deleteEquipmentTypesByEquipmentTypeId" parameterType="Long">
        delete from equipment_types where equipment_type_id = #{equipmentTypeId}
    </delete>

    <delete id="deleteEquipmentTypesByEquipmentTypeIds" parameterType="String">
        delete from equipment_types where equipment_type_id in 
        <foreach item="equipmentTypeId" collection="array" open="(" separator="," close=")">
            #{equipmentTypeId}
        </foreach>
    </delete>

    <select id="getEquipOverview" resultType="com.iteaj.business.vo.EquipmentOverviewVo">
        SELECT
            COUNT(*) AS total_count,
            SUM(CASE WHEN operation_status = '1' THEN 1 ELSE 0 END) AS running_count,
            SUM(CASE WHEN operation_status = '2' THEN 1 ELSE 0 END) AS idle_count,
            SUM(CASE WHEN operation_status = '3' THEN 1 ELSE 0 END) AS maintenance_count
        FROM
            equipment_types
        where
            parent_equipment_type_id!=0

    </select>
</mapper>