<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.business.mapper.HistoricalDataMapper">

    <resultMap type="com.iteaj.business.domain.HistoricalData" id="HistoricalDataResult">
        <result property="dataId"    column="data_id"    />
        <result property="parameterId"    column="parameter_id"    />
        <result property="value"    column="value"    />
        <result property="collectTime"    column="collect_time"    />
        <result property="quality"    column="quality"    />
    </resultMap>

    <sql id="selectHistoricalDataVo">
        select data_id, parameter_id, value, collect_time, quality from historical_data
    </sql>

    <select id="selectHistoricalDataList" parameterType="com.iteaj.business.domain.HistoricalData" resultMap="HistoricalDataResult">
        <include refid="selectHistoricalDataVo"/>
        <where>  
            <if test="parameterId != null "> and parameter_id = #{parameterId}</if>
            <if test="value != null "> and value = #{value}</if>
            <if test="collectTime != null "> and collect_time = #{collectTime}</if>
            <if test="quality != null "> and quality = #{quality}</if>
        </where>
    </select>
    
    <select id="selectHistoricalDataByDataId" parameterType="Long" resultMap="HistoricalDataResult">
        <include refid="selectHistoricalDataVo"/>
        where data_id = #{dataId}
    </select>

    <insert id="insertHistoricalData" parameterType="com.iteaj.business.domain.HistoricalData" useGeneratedKeys="true" keyProperty="dataId">
        insert into historical_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parameterId != null">parameter_id,</if>
            <if test="value != null">value,</if>
            <if test="collectTime != null">collect_time,</if>
            <if test="quality != null">quality,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parameterId != null">#{parameterId},</if>
            <if test="value != null">#{value},</if>
            <if test="collectTime != null">#{collectTime},</if>
            <if test="quality != null">#{quality},</if>
         </trim>
    </insert>

    <update id="updateHistoricalData" parameterType="com.iteaj.business.domain.HistoricalData">
        update historical_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="parameterId != null">parameter_id = #{parameterId},</if>
            <if test="value != null">value = #{value},</if>
            <if test="collectTime != null">collect_time = #{collectTime},</if>
            <if test="quality != null">quality = #{quality},</if>
        </trim>
        where data_id = #{dataId}
    </update>

    <delete id="deleteHistoricalDataByDataId" parameterType="Long">
        delete from historical_data where data_id = #{dataId}
    </delete>

    <delete id="deleteHistoricalDataByDataIds" parameterType="String">
        delete from historical_data where data_id in 
        <foreach item="dataId" collection="array" open="(" separator="," close=")">
            #{dataId}
        </foreach>
    </delete>
</mapper>