<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.iboot.module.iot.mapper.DeviceChildMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iteaj.iboot.module.iot.entity.DeviceChild">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="uid" property="uid" />
        <result column="child_sn" property="childSn" />
        <result column="remark" property="remark" />
        <result column="protocol_type" property="protocolType" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
