<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.iboot.module.iot.mapper.ProductTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iteaj.iboot.module.iot.entity.ProductType">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="path" property="path" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="parent_name" property="parentName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="listOfDetail" resultType="com.iteaj.iboot.module.iot.entity.ProductType">
        select a.*, p.name parent_name from iot_product_type a
            left join iot_product_type p on a.pid = p.id
        <where>
            <if test="pid != null">
                and find_in_set(#{pid}, a.path)
            </if>
            <if test="name != null and name != ''">
                and a.name like '%${entity.name}%'
            </if>
            <if test="alias != null and alias != ''">
                and a.alias like '%${alias}%'
            </if>
        </where>
    </select>

    <select id="pageOfDetail" resultType="com.iteaj.iboot.module.iot.entity.ProductType">
        select a.*, p.name parent_name from iot_product_type a
            left join iot_product_type p on a.pid = p.id
        <where>
            <if test="entity.pid != null">
                and a.id != #{entity.pid} and find_in_set(#{entity.pid}, a.path)
            </if>
            <if test="entity.name != null and entity.name != ''">
                and a.name like '%${entity.name}%'
            </if>
            <if test="entity.alias != null and entity.alias != ''">
                and a.alias like '%${entity.alias}%'
            </if>
        </where>
    </select>

</mapper>
