<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.iboot.module.iot.mapper.SignalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iteaj.iboot.module.iot.entity.Signal">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="encode" property="encode" />
        <result column="address" property="address" />
        <result column="message" property="message" />
        <result column="direct" property="direct" />
        <result column="product_id" property="productId" />
        <result column="protocol_id" property="protocolId" />
        <result column="product_name" property="productName" />
        <result column="direct_name" property="directName" />
        <result column="field_name" property="fieldName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="detailByPage" resultMap="BaseResultMap">
        select a.*, p.name direct_name, idm.name product_name from iot_signal a
            left join iot_product idm on a.product_id = idm.id
            left join iot_product_type ipt on ipt.id=idm.product_type_id
            left join iot_protocol p on idm.protocol_id=p.id and a.direct=p.code
        <where>
            <if test="entity.productId!=null">
                and a.product_id=#{entity.productId}
            </if>
            <if test="entity.productTypeId!=null">
                and find_in_set(#{entity.productTypeId}, ipt.path)
            </if>
            <if test="entity.name!=null and entity.name != ''">
                and a.name like '%${entity.name}%'
            </if>
            <if test="entity.fieldName!=null and entity.fieldName != ''">
                and a.field_name like '%${entity.fieldName}%'
            </if>
        </where>
    </select>


    <select id="collectByPointGroupId" resultMap="BaseResultMap">
        select * from iot_signal a left join iot_group_point g on g.signal_id=a.id where g.group_id=#{groupId}
    </select>
    <select id="listByProductIds" resultMap="BaseResultMap">
        select a.*, p.name product_name from iot_signal a
            left join iot_product p on a.product_id=p.id
        <where>
            <if test="list != null and list.size() > 0">
                and a.product_id in (
                <foreach collection="list" item="id" separator=",">
                    #{id}
                </foreach>
                )
            </if>
            <if test="name != null and name != ''">
                and a.name like '%${name}%'
            </if>
        </where>
    </select>
    <select id="detailById" resultMap="BaseResultMap">
        select a.*, p.name direct_name, idm.name product_name, idm.id product_id, p.id protocol_id from iot_signal a
           left join iot_product idm on a.product_id = idm.id
           left join iot_protocol p on idm.protocol_id=p.id
        where a.id=#{id}
    </select>
</mapper>
