<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.msn.lcd.mapper.LcdDesignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iteaj.iboot.plugin.code.entity.LcdDesign">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="table_name" property="tableName" />
        <result column="edit" property="edit" />
        <result column="search" property="search" />
        <result column="form_table" property="table" />
        <result column="global" property="global" />
        <result column="container" property="container" />
        <result column="comment" property="comment" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
