<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.business.mapper.EnergyTypeMapper">
    
    <resultMap type="EnergyType" id="EnergyTypeResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="energyName"    column="energy_name"    />
        <result property="energyUnit"    column="energy_unit"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEnergyTypeVo">
        select id, company_id, energy_name, energy_unit, del_flag, create_by, create_time, update_by, update_time, remark from energy_type
    </sql>

    <select id="selectEnergyTypeList" parameterType="EnergyType" resultMap="EnergyTypeResult">
        <include refid="selectEnergyTypeVo"/>
        <where>  
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="energyName != null  and energyName != ''"> and energy_name like concat('%', #{energyName}, '%')</if>
            <if test="energyUnit != null  and energyUnit != ''"> and energy_unit = #{energyUnit}</if>
        </where>
    </select>
    
    <select id="selectEnergyTypeById" parameterType="Long" resultMap="EnergyTypeResult">
        <include refid="selectEnergyTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertEnergyType" parameterType="EnergyType" useGeneratedKeys="true" keyProperty="id">
        insert into energy_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="energyName != null and energyName != ''">energy_name,</if>
            <if test="energyUnit != null and energyUnit != ''">energy_unit,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="energyName != null and energyName != ''">#{energyName},</if>
            <if test="energyUnit != null and energyUnit != ''">#{energyUnit},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEnergyType" parameterType="EnergyType">
        update energy_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="energyName != null and energyName != ''">energy_name = #{energyName},</if>
            <if test="energyUnit != null and energyUnit != ''">energy_unit = #{energyUnit},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEnergyTypeById" parameterType="Long">
        delete from energy_type where id = #{id}
    </delete>

    <delete id="deleteEnergyTypeByIds" parameterType="String">
        delete from energy_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>