<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.business.mapper.EquipmentPredMapper">
    
    <resultMap type="com.iteaj.business.domain.EquipmentPred" id="EquipmentPredResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="equipmentTypeId"    column="equipment_type_id"    />
        <result property="equipmentTypeName"    column="equipment_type_name"    />
        <result property="isReplace"    column="is_replace"    />
        <result property="isLossy"    column="is_lossy"    />
        <result property="isRate"    column="is_rate"    />
        <result property="useTime"    column="use_time"    />
        <result property="riskLevel"    column="risk_level"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEquipmentPredVo">
        select id, company_id, equipment_type_id, equipment_type_name, is_replace, is_lossy, is_rate, use_time, risk_level, del_flag, create_by, create_time, update_by, update_time, remark from equipment_pred
    </sql>

    <select id="selectEquipmentPredList" parameterType="com.iteaj.business.domain.EquipmentPred" resultMap="EquipmentPredResult">
        <include refid="selectEquipmentPredVo"/>
        <where>  
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="equipmentTypeId != null "> and equipment_type_id = #{equipmentTypeId}</if>
            <if test="equipmentTypeName != null  and equipmentTypeName != ''"> and equipment_type_name like concat('%', #{equipmentTypeName}, '%')</if>
            <if test="isReplace != null  and isReplace != ''"> and is_replace = #{isReplace}</if>
            <if test="isLossy != null  and isLossy != ''"> and is_lossy = #{isLossy}</if>
            <if test="isRate != null  and isRate != ''"> and is_rate = #{isRate}</if>
            <if test="useTime != null "> and use_time = #{useTime}</if>
            <if test="riskLevel != null  and riskLevel != ''"> and risk_level = #{riskLevel}</if>
        </where>
    </select>
    
    <select id="selectEquipmentPredById" parameterType="Long" resultMap="EquipmentPredResult">
        <include refid="selectEquipmentPredVo"/>
        where id = #{id}
    </select>

    <insert id="insertEquipmentPred" parameterType="com.iteaj.business.domain.EquipmentPred" useGeneratedKeys="true" keyProperty="id">
        insert into equipment_pred
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="equipmentTypeId != null">equipment_type_id,</if>
            <if test="equipmentTypeName != null and equipmentTypeName != ''">equipment_type_name,</if>
            <if test="isReplace != null and isReplace != ''">is_replace,</if>
            <if test="isLossy != null and isLossy != ''">is_lossy,</if>
            <if test="isRate != null and isRate != ''">is_rate,</if>
            <if test="useTime != null">use_time,</if>
            <if test="riskLevel != null">risk_level,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="equipmentTypeId != null">#{equipmentTypeId},</if>
            <if test="equipmentTypeName != null and equipmentTypeName != ''">#{equipmentTypeName},</if>
            <if test="isReplace != null and isReplace != ''">#{isReplace},</if>
            <if test="isLossy != null and isLossy != ''">#{isLossy},</if>
            <if test="isRate != null and isRate != ''">#{isRate},</if>
            <if test="useTime != null">#{useTime},</if>
            <if test="riskLevel != null">#{riskLevel},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEquipmentPred" parameterType="com.iteaj.business.domain.EquipmentPred">
        update equipment_pred
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="equipmentTypeId != null">equipment_type_id = #{equipmentTypeId},</if>
            <if test="equipmentTypeName != null and equipmentTypeName != ''">equipment_type_name = #{equipmentTypeName},</if>
            <if test="isReplace != null and isReplace != ''">is_replace = #{isReplace},</if>
            <if test="isLossy != null and isLossy != ''">is_lossy = #{isLossy},</if>
            <if test="isRate != null and isRate != ''">is_rate = #{isRate},</if>
            <if test="useTime != null">use_time = #{useTime},</if>
            <if test="riskLevel != null">risk_level = #{riskLevel},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEquipmentPredById" parameterType="Long">
        delete from equipment_pred where id = #{id}
    </delete>

    <delete id="deleteEquipmentPredByIds" parameterType="String">
        delete from equipment_pred where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>