<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.business.mapper.FeedbackMapper">
    
    <resultMap type="com.iteaj.business.domain.Feedback" id="FeedbackResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="feedbackType"    column="feedback_type"    />
        <result property="supplementaryInfo"    column="supplementary_info"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFeedbackListVo">
        SELECT f.id,
               d.label AS feedback_type,
               f.supplementary_info
        FROM feedback f
        JOIN sys_dict_data d ON f.feedback_type = d.value
    </sql>

    <sql id="selectFeedbackVo">
        select id, feedback_type, supplementary_info from feedback
    </sql>

    <select id="selectFeedbackList" parameterType="com.iteaj.business.domain.Feedback" resultMap="FeedbackResult">
        <include refid="selectFeedbackListVo"/>
        <where>
            d.type = 'feed_back_type' and f.del_flag='0'
            <if test="companyId != null  and companyId != ''"> and company_id = #{companyId}</if>
            <if test="feedbackType != null  and feedbackType != ''"> and feedback_type = #{feedbackType}</if>
            <if test="supplementaryInfo != null  and supplementaryInfo != ''"> and supplementary_info = #{supplementaryInfo}</if>
        </where>
    </select>
    
    <select id="selectFeedbackById" parameterType="Long" resultMap="FeedbackResult">
        <include refid="selectFeedbackVo"/>
        where id = #{id}
    </select>

    <insert id="insertFeedback" parameterType="com.iteaj.business.domain.Feedback" useGeneratedKeys="true" keyProperty="id">
        insert into feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="feedbackType != null and feedbackType != ''">feedback_type,</if>
            <if test="supplementaryInfo != null">supplementary_info,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="feedbackType != null and feedbackType != ''">#{feedbackType},</if>
            <if test="supplementaryInfo != null">#{supplementaryInfo},</if>
            <if test="delFlag != null">#{del_flag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFeedback" parameterType="com.iteaj.business.domain.Feedback">
        update feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="feedbackType != null and feedbackType != ''">feedback_type = #{feedbackType},</if>
            <if test="supplementaryInfo != null">supplementary_info = #{supplementaryInfo},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteFeedbackById">
        update feedback set del_flag=1 where id = #{id}
    </update>

    <update id="deleteFeedbackByIds" >
        update feedback set del_flag=1 where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>