<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.business.mapper.MonitoringScrapMapper">
    
    <resultMap type="MonitoringScrap" id="MonitoringScrapResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="detailId"    column="detail_id"    />
        <result property="equipmentTypeId"    column="equipment_type_id"    />
        <result property="equipmentTypeName"    column="equipment_type_name"    />
        <result property="scrapReason"    column="scrap_reason"    />
        <result property="scrapStartTime"    column="scrap_start_time"    />
        <result property="scrapEndTime"    column="scrap_end_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMonitoringScrapVo">
        select id, company_id, order_id, detail_id, equipment_type_id, equipment_type_name, scrap_reason, scrap_start_time, scrap_end_time, del_flag, create_by, create_time, update_by, update_time, remark from monitoring_scrap
    </sql>

    <select id="selectMonitoringScrapList" parameterType="MonitoringScrap" resultMap="MonitoringScrapResult">
        <include refid="selectMonitoringScrapVo"/>
        <where>  
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="detailId != null "> and detail_id = #{detailId}</if>
            <if test="equipmentTypeId != null "> and equipment_type_id = #{equipmentTypeId}</if>
            <if test="equipmentTypeName != null  and equipmentTypeName != ''"> and equipment_type_name like concat('%', #{equipmentTypeName}, '%')</if>
            <if test="scrapReason != null  and scrapReason != ''"> and scrap_reason = #{scrapReason}</if>
            <if test="scrapStartTime != null "> and scrap_start_time = #{scrapStartTime}</if>
            <if test="scrapEndTime != null "> and scrap_end_time = #{scrapEndTime}</if>
        </where>
    </select>
    
    <select id="selectMonitoringScrapById" parameterType="Long" resultMap="MonitoringScrapResult">
        <include refid="selectMonitoringScrapVo"/>
        where id = #{id}
    </select>

    <insert id="insertMonitoringScrap" parameterType="MonitoringScrap" useGeneratedKeys="true" keyProperty="id">
        insert into monitoring_scrap
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="detailId != null">detail_id,</if>
            <if test="equipmentTypeId != null">equipment_type_id,</if>
            <if test="equipmentTypeName != null and equipmentTypeName != ''">equipment_type_name,</if>
            <if test="scrapReason != null">scrap_reason,</if>
            <if test="scrapStartTime != null">scrap_start_time,</if>
            <if test="scrapEndTime != null">scrap_end_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="detailId != null">#{detailId},</if>
            <if test="equipmentTypeId != null">#{equipmentTypeId},</if>
            <if test="equipmentTypeName != null and equipmentTypeName != ''">#{equipmentTypeName},</if>
            <if test="scrapReason != null">#{scrapReason},</if>
            <if test="scrapStartTime != null">#{scrapStartTime},</if>
            <if test="scrapEndTime != null">#{scrapEndTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMonitoringScrap" parameterType="MonitoringScrap">
        update monitoring_scrap
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="detailId != null">detail_id = #{detailId},</if>
            <if test="equipmentTypeId != null">equipment_type_id = #{equipmentTypeId},</if>
            <if test="equipmentTypeName != null and equipmentTypeName != ''">equipment_type_name = #{equipmentTypeName},</if>
            <if test="scrapReason != null">scrap_reason = #{scrapReason},</if>
            <if test="scrapStartTime != null">scrap_start_time = #{scrapStartTime},</if>
            <if test="scrapEndTime != null">scrap_end_time = #{scrapEndTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMonitoringScrapById" parameterType="Long">
        delete from monitoring_scrap where id = #{id}
    </delete>

    <delete id="deleteMonitoringScrapByIds" parameterType="String">
        delete from monitoring_scrap where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>