<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.business.mapper.OrderMainMapper">
    
    <resultMap type="OrderMain" id="OrderMainResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="orderCode"    column="order_code"    />
        <result property="orderYear"    column="order_year"    />
        <result property="orderMonth"    column="order_month"    />
        <result property="plannedProduction"    column="planned_production"    />
        <result property="currentOutput"    column="current_output"    />
        <result property="steelSpec"    column="steel_spec"    />
        <result property="yieldRate"    column="yield_rate"    />
        <result property="hotChargingRate"    column="hot_charging_rate"    />
        <result property="scrapRate"    column="scrap_rate"    />
        <result property="inventoryRate"    column="inventory_rate"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="estCompTime"    column="est_comp_time"    />
    </resultMap>

    <resultMap id="OrderMainOrderDetailResult" type="OrderMain" extends="OrderMainResult">
        <collection property="orderDetailList" ofType="OrderDetail" column="order_code" select="selectOrderDetailList" />
    </resultMap>

    <resultMap type="OrderDetail" id="OrderDetailResult">
        <result property="id"    column="id"    />
        <result property="orderCode"    column="order_code"    />
        <result property="totalQuantity"    column="total_quantity"    />
        <result property="productionDay"    column="production_day"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="isScrap"    column="is_scrap"    />
        <result property="billetCode"    column="billet_code"    />
        <result property="spareField1"    column="spare_field1"    />
        <result property="spareField2"    column="spare_field2"    />
    </resultMap>

    <sql id="selectOrderMainVo">
        select id, company_id, order_code, order_year, order_month, planned_production, current_output, steel_spec, yield_rate, hot_charging_rate, scrap_rate, inventory_rate, del_flag, create_by, create_time, update_by, update_time, remark, order_status, est_comp_time from order_main
    </sql>

    <select id="selectOrderMainList" parameterType="OrderMain" resultMap="OrderMainResult">
        <include refid="selectOrderMainVo"/>
        <where>  
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="orderCode != null  and orderCode != ''"> and order_code = #{orderCode}</if>
            <if test="orderYear != null "> and order_year = #{orderYear}</if>
            <if test="orderMonth != null "> and order_month = #{orderMonth}</if>
            <if test="plannedProduction != null "> and planned_production = #{plannedProduction}</if>
            <if test="currentOutput != null "> and current_output = #{currentOutput}</if>
            <if test="steelSpec != null  and steelSpec != ''"> and steel_spec = #{steelSpec}</if>
            <if test="yieldRate != null "> and yield_rate = #{yieldRate}</if>
            <if test="hotChargingRate != null "> and hot_charging_rate = #{hotChargingRate}</if>
            <if test="scrapRate != null "> and scrap_rate = #{scrapRate}</if>
            <if test="inventoryRate != null "> and inventory_rate = #{inventoryRate}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and order_status = #{orderStatus}</if>
            <if test="estCompTime != null "> and est_comp_time = #{estCompTime}</if>
        </where>
        order by create_by DESC
    </select>
    
    <select id="selectOrderMainById" parameterType="Long" resultMap="OrderMainOrderDetailResult">
        select id, company_id, order_code, order_year, order_month, planned_production, current_output, steel_spec, yield_rate, hot_charging_rate, scrap_rate, inventory_rate, del_flag, create_by, create_time, update_by, update_time, remark, order_status, est_comp_time
        from order_main
        where id = #{id}
    </select>

    <select id="selectOrderDetailList" resultMap="OrderDetailResult">
        select id, order_code, total_quantity, production_day, del_flag, create_by, create_time, update_by, update_time, remark, is_scrap, billet_code, spare_field1, spare_field2
        from order_detail
        where order_code = #{order_code}
    </select>

    <insert id="insertOrderMain" parameterType="OrderMain" useGeneratedKeys="true" keyProperty="id">
        insert into order_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="orderCode != null">order_code,</if>
            <if test="orderYear != null">order_year,</if>
            <if test="orderMonth != null">order_month,</if>
            <if test="plannedProduction != null">planned_production,</if>
            <if test="currentOutput != null">current_output,</if>
            <if test="steelSpec != null">steel_spec,</if>
            <if test="yieldRate != null">yield_rate,</if>
            <if test="hotChargingRate != null">hot_charging_rate,</if>
            <if test="scrapRate != null">scrap_rate,</if>
            <if test="inventoryRate != null">inventory_rate,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="orderStatus != null and orderStatus != ''">order_status,</if>
            <if test="estCompTime != null">est_comp_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="orderCode != null">#{orderCode},</if>
            <if test="orderYear != null">#{orderYear},</if>
            <if test="orderMonth != null">#{orderMonth},</if>
            <if test="plannedProduction != null">#{plannedProduction},</if>
            <if test="currentOutput != null">#{currentOutput},</if>
            <if test="steelSpec != null">#{steelSpec},</if>
            <if test="yieldRate != null">#{yieldRate},</if>
            <if test="hotChargingRate != null">#{hotChargingRate},</if>
            <if test="scrapRate != null">#{scrapRate},</if>
            <if test="inventoryRate != null">#{inventoryRate},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
            <if test="estCompTime != null">#{estCompTime},</if>
         </trim>
    </insert>

    <update id="updateOrderMain" parameterType="OrderMain">
        update order_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="orderCode != null">order_code = #{orderCode},</if>
            <if test="orderYear != null">order_year = #{orderYear},</if>
            <if test="orderMonth != null">order_month = #{orderMonth},</if>
            <if test="plannedProduction != null">planned_production = #{plannedProduction},</if>
            <if test="currentOutput != null">current_output = #{currentOutput},</if>
            <if test="steelSpec != null">steel_spec = #{steelSpec},</if>
            <if test="yieldRate != null">yield_rate = #{yieldRate},</if>
            <if test="hotChargingRate != null">hot_charging_rate = #{hotChargingRate},</if>
            <if test="scrapRate != null">scrap_rate = #{scrapRate},</if>
            <if test="inventoryRate != null">inventory_rate = #{inventoryRate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="orderStatus != null and orderStatus != ''">order_status = #{orderStatus},</if>
            <if test="estCompTime != null">est_comp_time = #{estCompTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderMainById" parameterType="Long">
        delete from order_main where id = #{id}
    </delete>

    <delete id="deleteOrderMainByIds" parameterType="String">
        delete from order_main where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteOrderDetailByOrderCodes" parameterType="String">
        delete from order_detail where order_code in 
        <foreach item="orderCode" collection="array" open="(" separator="," close=")">
            #{orderCode}
        </foreach>
    </delete>

    <delete id="deleteOrderDetailByOrderCode" parameterType="Long">
        delete from order_detail where order_code = #{orderCode}
    </delete>

    <insert id="batchOrderDetail">
        insert into order_detail( id, order_code, total_quantity, production_day, del_flag, create_by, create_time, update_by, update_time, remark, is_scrap, billet_code, spare_field1, spare_field2) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.orderCode}, #{item.totalQuantity}, #{item.productionDay}, #{item.delFlag}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark}, #{item.isScrap}, #{item.billetCode}, #{item.spareField1}, #{item.spareField2})
        </foreach>
    </insert>

    <select id="getOrderCode" statementType="CALLABLE">
        {call FN_GEN_CODE_ORDER(#{orderCode, mode=OUT, jdbcType=VARCHAR})}
    </select>

    <select id="getOperationDataByYear" resultType="com.iteaj.business.vo.OperationDataVO">
        SELECT
            SUM(om.current_output) AS totalOutput,
            IFNULL((SUM(CASE WHEN od.is_scrap = '0' THEN od.total_quantity ELSE 0 END) / SUM(om.current_output)) * 100, 0) AS yieldRate,
            IFNULL((SUM(CASE WHEN od.is_scrap = '1' THEN od.total_quantity ELSE 0 END) / SUM(om.current_output)) * 100, 0) AS scrapRate,
            AVG(om.hot_charging_rate) AS hotChargingRate,
            AVG(om.inventory_rate) AS inventoryRate
        FROM
            order_main om
            JOIN order_detail od ON om.order_code = om.order_code and od.del_flag='0'
        WHERE
            om.del_flag='0'
            and om.company_id= #{companyId}
            and om.order_year = #{orderYear}
            <if test="orderMonth != null">and om.order_month = #{orderMonth}</if>
    </select>

    <select id="getOpDataByOrder" resultType="com.iteaj.business.vo.OperationDataVO">
        SELECT
            SUM(current_output) AS currentOutput,
            SUM(planned_production) AS plannedProduction
        FROM
            order_main
        WHERE
            del_flag='0'
            and company_id= #{companyId}
            and order_year = #{orderYear}
            and order_month = #{orderMonth}
    </select>

    <select id="getOrderChartData" resultType="com.iteaj.business.vo.OrderChartVO">
        SELECT
            -- 将日期格式化为 YYYY-MM-DD 形式，作为横坐标数据
            DATE_FORMAT(create_time, '%d') AS orderDate,
            -- 统计每个日期的实际生产数量
            SUM(current_output) AS actualProduction,
            -- 统计每个日期的计划生产数量
            SUM(planned_production) AS plannedProduction
        FROM
            order_main
        WHERE
              company_id= #{companyId}
            -- 筛选指定年份的订单数据
          AND order_year = #{orderYear}
            -- 筛选指定月份的订单数据
          AND order_month = #{orderMonth}
            -- 只查询未删除的订单数据
          AND del_flag = '0'
        GROUP BY
            -- 按日期分组
            DATE_FORMAT(create_time, '%Y-%m-%d')
        ORDER BY
            -- 按日期升序排序
            DATE_FORMAT(create_time, '%Y-%m-%d')
    </select>

    <sql id="orderMainByCodeVo">
        select
            om.id as id,
            om.company_id as companyId,
            om.order_code as orderCode,
            om.order_year as orderYear,
            om.order_month as orderMonth,
            om.planned_production as plannedProduction,
            om.current_output as currentOutput,
            om.steel_spec as steelSpec,
            om.yield_rate as yieldRate,
            om.hot_charging_rate as hotChargingRate,
            om.scrap_rate as scrapRate,
            om.inventory_rate as inventoryRate,
            om.create_time as createTime,
            om.remark as remark,
            d.dict_label as orderStatus,
            om.est_comp_time as estCompTime
        from
            order_main om
            left JOIN sys_dict_data d ON om.order_status = d.dict_value
    </sql>

    <select id="getOrderMainByCode" resultType="com.iteaj.business.domain.OrderMain">
        <include refid="orderMainByCodeVo"/>
        where 
            d.dict_type = 'order_status' 
            and om.del_flag='0' 
            and om.order_code = #{orderCode}
    </select>

    <select id="getProductionTrend" resultType="com.iteaj.business.vo.OrderChartVO">
        SELECT
            order_month AS orderDate,
            SUM(current_output) AS actualProduction,
            SUM(planned_production) AS plannedProduction
        FROM
            order_main
        WHERE
              company_id= #{companyId}
              -- 筛选指定年份的订单数据
              AND order_year = #{orderYear}
              -- 只查询未删除的订单数据
              AND del_flag = '0'
        GROUP BY
            -- 按日期分组
            order_month
        ORDER BY
            -- 按日期升序排序
            order_month
    </select>

</mapper>