<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteaj.iboot.plugin.message.mapper.MessageTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iteaj.iboot.plugin.message.entity.MessageTemplate">
        <result column="id" property="id" />
        <result column="type" property="type" />
        <result column="template_id" property="templateId" />
        <result column="template_name" property="templateName" />
        <result column="template_title" property="templateTitle" />
        <result column="accepts" property="accepts"
                typeHandler="com.iteaj.framework.mybatis.handler.FastjsonTypeHandler" />
        <result column="content" property="content" />
        <result column="remark" property="remark" />
        <result column="accept_names" property="acceptNames" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="TemplateResultMap" type="com.iteaj.framework.spi.message.SendTemplate">
        <result column="type" property="type" />
        <result column="template_id" property="templateId" />
        <result column="template_name" property="name" />
        <result column="template_title" property="title" />
        <result column="accepts" property="accepts"
                typeHandler="com.iteaj.framework.mybatis.handler.FastjsonTypeHandler" />
        <result column="content" property="content" />
    </resultMap>

    <resultMap id="WarnTemplateMap" type="com.iteaj.iboot.plugin.message.dto.WarnMessageTemplate" extends="BaseResultMap">
        <result column="device_name" property="deviceName" />
        <result column="wc_template_title" property="templateTitle" />
        <collection property="users" ofType="com.iteaj.iboot.plugin.message.dto.AcceptUser" column="message_template_id" >
            <result property="email" column="email" />
            <result property="phone" column="phone" />
        </collection>
    </resultMap>

    <select id="getTemplateById" resultMap="TemplateResultMap">
        select * from sys_message_template where id=#{id}
    </select>

    <select id="getWarnTemplateByWarnConfigId" resultMap="WarnTemplateMap">
        select a.*, d.name device_name, wc.name wc_template_title, wc.message_template_id, sa.phone, sa.email from sys_message_template a
            left join iot_warn_config wc on a.id = wc.message_template_id
            left join iot_device d on d.uid=#{uid}
            left join sys_admin sa on json_contains(a.accepts, concat(sa.id, ''))
        where type = 'iot:warn' and wc.id=#{warnConfigId}
    </select>

    <select id="listAccepts" resultType="com.iteaj.framework.IVOption">
        select name label, id value from sys_admin order by create_time desc
    </select>
    <select id="detailPage" resultMap="BaseResultMap">
        select a.*, group_concat(b.name) accept_names from sys_message_template a
            left join sys_admin b on json_contains(a.accepts, concat(b.id, ''))
        <where>
            and a.type = #{entity.type}
            <if test="entity.acceptId != null and entity.acceptId != ''">
                and json_contains(a.accepts, #{entity.acceptId})
            </if>
            <if test="entity.templateName != null and entity.templateName != ''">
                and a.template_name like '%${entity.templateName}%'
            </if>
        </where>
        group by a.id order by a.create_time desc
    </select>

</mapper>
